.App {
  text-align: center;
}

html{
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top{
  display: flex;
  padding: 10px;
  border: 1px solid lightgray;
  width: 59.8%;
  margin: 0 auto;
  align-items: center;
  background-color: white;
}

.top {
  display: inline-flex;
  justify-content: space-between;
  margin: 0px;
}

.top div{
  display: inline-flex;
}

.top p{
  margin-left: 10px;
}
img.profile{
  border-radius: 100%;
  height: 40px;
  animation: App-logo-spin infinite 5s linear;
  pointer-events: none;
}

img.picture{
  border-radius: 0%;
  width: 62%;
}

.instagram{
  border: 1px solid lightgrey;
  width: 100%;
  margin-left: 0;
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0px;
  background-color: white;
  z-index: 500;
  top: 0;
}

input{
  height: 100%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 20px;
}

.likes{
  display: flex;
  padding: 10px;
  border: 1px solid lightgray;
  border-bottom: 0;
  width: 59.8%;
  margin: 0 auto;
  align-items: center;
  background-color: white;
  border-top: 0px;
}

.comments {
  padding: 10px;
  width: 59.8%;
  margin: 0 auto;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  background-color: white;
  padding-top: 0px;
}

.comments p{
  text-align: start;
  font-size: 15px;
  margin: 10px;
}

.timestamp{
  color: grey;
  font-size: 15px;
}

.posts{
  max-width: 70%;
  margin: 0 auto;
}

div.instagram img{
  height: 40px;
  padding: 10px 0;
}

.even{
  margin: 65px;
}

.posts img.heart{
  height: 25px;
  padding-bottom: 7px;
}

.posts button{
  height: 38px;
  border: 0px solid white;
}

.likes div{
  display: flex;
  flex-direction: row;
}

.likeNumber div button{
  margin-top: 10px;
}

div.posts div.likes div .likeNumber div{
  display: flex;
  flex-direction: column;
  height: 67px;
  width: 61px;
}

div.posts div.likes div div p{
  margin: 0px;
  height: 30px;
  margin-top: 20px;
}

.posts img.comment{
  height: 42px;
}

.posts img.share{
  height: 39px;
  padding-left: 5px;
}

.top h3{
  margin-left: 90%;
}


.likes {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

img.bookmark{
  height: 25px;
  margin-top: -25px;
}