html{
    background-color: black;
}

section{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    margin-top: 150px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    border: 1px solid white;
}

img.insta{
    height: auto;
    width: 277px;
    margin: 0 auto;
}

nav{
    margin: 0 auto;
    margin-top: 20px;
}

nav input{
    height: 20px;
    width: 200px;
    border-radius: 10px;
}

input button.login{
    border-radius: 10px;
}

button a{
    color: black;
}